# videos
*.mp4
*.mov
*.avi

# frames & images
work/frames/
work/frames_sub/
work/dense/images/

# colmap cache
work/colmap.db

# dense intermediate
work/dense/stereo/

# python
.venv/
__pycache__/
*.pyc

# misc
*.log
.DS_Store
